*{
	margin:0px;
	padding: 0px;
}

body{
	font-family: 'Raleway', sans-serif;
}

#background1{
	position: fixed;
	width: 100%;
    background-image: url("bg2.jpg");
    background-size: cover;
    height: 653px;
    z-index: -1;
}

#homeSection{
	height: 653px;
	z-index:1;
}

#navbar{
    margin: 0px auto;
    padding-top: 20px;
    color: #eeeeee;
    font-style: 'ProximaNova-Bold', sans-serif;
    display: block;
    width: 900px;
    padding-left: 50px;
}

#navbar ul {
    padding: 10px 0px;
    margin: 0px;
}

#navbar ul li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    padding-bottom: 6px;
    border-bottom: 1px solid rgba(0, 144, 144, 0);
}

#navbar ul li:hover {
    border-bottom-color: #cdcdcd;
    color: #cdcdcd;
}

#navbar a{
	font-size: 20px;
	color: #fff;
	text-decoration: none;
}

#navbar a:hover {
  color: #cdcdcd;
}

#navbar a:visited {
  color: #fff;
  text-decoration: none;
}

#homeDescription{
	display: block;
	color:#eee;
	font-family: 'Quicksand', sans-serif;
    margin: 0px auto;
    margin-top: 200px;
    text-align: center;
}

#homeDescription h1 {
    margin: 0px;
    font-size: 6.5em;
}

#homeDescription h3 {
    margin: 0px;
    font-size: 2em;
    color: #cbcbcb;
    font-weight: lighter;
}

#content{
    height: 800px;
    background-color: white;
}

#content h1{
    text-align: center;
    padding-top: 50px;
    font-size: 2em;
}

.buttonContent{
	background-color: grey;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    position:absolute;
    left:50%;
    margin-left:-50px;
    margin-top: 30px;
}

footer{
    height:300px;
    width: 100%;
    background-color: black;
    text-align: center;
    color: white;
    padding-top: 40px;
}

.containerFooter{
    margin-left: 10px;
    margin-top: 20px;
    background-color: black;
    display: inline-block;
    width: 20%;
}

.containerFooter a{
    display: block;
    text-decoration: none;
    color:white;
}

#footerLinks{
    margin-top: 50px;
}

#content p{
    margin: 20px 200px;
    font-size: 20px;
}

#content span{
    font-weight: bold;
    font-size: 22px;
}

#map {
    width: 100%;
    height: 300px;
    background-color: grey;
}

.contLocalization{
    margin-left: 20px;
    margin-top: 20px;
    display: inline-block;
    width: 35%;
    height: 300px;
    vertical-align:top;
}


#localization{
    padding-left: 200px;
}

.contLocalization h3{
    color: grey;
    padding-bottom: 10px;
    font-size: 1.5em;    

}

.contLocalization h2{
    margin-bottom: 20px;    
}



