#content2{
    height: 680px;
    background-color: white;
}

#content2 h1{
    text-align: center;
    padding-top: 50px;
    font-size: 2em;
}


#content2 h3{
	text-align: center;
	padding-top: 10px;
	color: grey;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}

.containerImg{
	margin-left: 10px;
	margin-top: 20px;
	background-color: black;
	display: inline-block;
	width: 20%;
	height: 200px;
}

.modelsImg{
	padding-left: 200px;
}
