
/*bg tables to 1200px*/
@media only screen and (max-width: 1200px) {
	
}


/*small tablet to big tablet*/
@media only screen and (max-width: 1023px) {
	
}


/* Small phones to small tablets */
@media only screen and (max-width: 767px) {
	
}


/* Small phones*/
@media only screen and (max-width: 480px) {

}