@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

html,
body {
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-rendering: optimizeLegibility;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 300%;
}

.height-100 {
  min-height: 100vh;
}

.container-fluid{
  padding: 0;
}

.no-padding {
  padding: 0
}

.disable {
  display: none
}

/* ====================================================== */
/* development screen */
/* shared */

.predevelopment {
  background-color: #fff;
  position: relative;
}

.dev-text {
  text-transform: uppercase;
  font-size: 90%;
  text-align: justify
}

.side-color {
  height: 100vh;
  width: 200px;
  position: absolute;
  right: 0;
  background: #1BD5EF;
  transition: background 0.5s;
}

.orange-background { background: #1BD5EF !important; }

.purple-background { background: #1EA5DB !important; }

.blue-background { background: #0075BE !important; }

.dev-title-upper {
  color: black;
  font-weight: 700;
}

.dev-title-lower {
  line-height: 60%;
  color: black;
  font-weight: 700;
  margin-bottom: 40px
}

.carousel-item-custom {
  min-height: 500px;
}

.carousel-control-prev {
  margin-left: -80px;
}

.carousel-control-next {
  z-index: 1;
  margin-right: -160px;
}

.carousel-indicators li {
  display: inline-block;
  width: 30px;
  height: 10px;
  margin: 10px;
  opacity: 0.3;
}
.carousel-indicators .active {
  opacity: 1;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/* predevelopment */

.slide {
  margin-top: 8rem
}

.predevelopment-image img {
  height: 50px;
  margin-bottom: 10px;
}

.predevelopment-image p {
  margin: 0px;
  max-width: 100px;
  word-wrap: break-word;
  text-align: center;
  line-height: 120%;
  font-weight: 700;
  font-size: 90%
}

.selected-image-predev {
  background-color: #1BD5EF;
}

.first-predev,
.second-predev,
.third-predev {
  border: 3px solid  #1BD5EF;
}

.selected-image-dev {
  background-color: #1EA5DB;
}

.first-dev,
.second-dev,
.third-dev {
  border: 3px solid  #1EA5DB;
}

.selected-image-postdev {
  background-color: #0075BE;
}

.first-postdev,
.second-postdev,
.third-postdev {
  border: 3px solid #0075BE;
}

.predevelopment-image > div {
  /* border: 3px solid  #1BD5EF; */
  padding: 20px 0px;
  max-width: 140px;
  min-height: 140px;
}

.predevelopment-span {
  color: #1BD5EF;
}

/* development */

.development-span {
  color: #1EA5DB;
}

/* postdevelopment */

.postdevelopment-span {
  color: #0075BE
}

/* =================================== */

/* Quem nos somos  */

.who-we-are {
  background-image:url('../images/map-background.jpg');
  background-repeat:no-repeat;
  background-position:75% 40%;
}

.who-we-are-container {
  margin-top: 7rem
}

.who-we-are-text {
  text-transform: uppercase;
  font-size: 90%;
  text-align: justify
}

.who-we-are a {
  display: none;
}

.who-we-are-btn {
  border: none;
  display: inline-block;
  border-radius: 99px;
  position: relative;
  z-index: 1;
  padding: 15px 35px;
  text-transform: uppercase;
  line-height: 95%;
}

.who-we-are-btn:before,
.who-we-are-btn:after {
  content: ' ';
  position: absolute;
  border-radius: 99px;
}

.who-we-are-btn:before {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -2;
  background: #00688B	;
  background: -moz-linear-gradient(left, #00BFFF	 0%, #00688B 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#00BFFF	), color-stop(100%,#00688B));
  background: -webkit-linear-gradient(left, #00BFFF	 0%,#00688B 100%);
  background: -o-linear-gradient(left, #00BFFF	 0%,#00688B 100%);
  background: -ms-linear-gradient(left, #00BFFF	 0%,#00688B 100%);
  background: linear-gradient(to right, #00BFFF	 0%,#00688B 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00BFFF	', endColorstr='#00688B',GradientType=1 );
}

.who-we-are-btn:after {
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
  background-color: white;
  z-index: -1;
  opacity: 1;
  transition: all 0.6s ease-in-out;
}

.who-we-are-btn:hover:after {
  opacity: 0;
}

.who-we-are-btn span {
  font-weight: 700
}
/*
MENU SECTION
*/

.menu {
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("../images/home-background.jpg");
  background-size: cover;
  background-position: center;
}

.home-container {
  height: 50vh;
  width: 100 vw;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: row;
}

.home-container h1 {
  color: white;
}

.home-title {
  display: flex;
  flex: 1;
  min-width: 100;
}

.home-title:first-child {
  display: flex;
  flex: 1;
  min-width: 100;
  justify-content: flex-end;
}

.quotes {
  border-bottom: 3px solid #0075BE;
}

#fixed-title {
  border-bottom: 3px solid transparent;
}

/* .quotes {
  display: none;
} */

.nav-on-scroll {
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5))
}

.nav-link {
  text-transform: uppercase;
  font-family: 'Poppins';
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
  padding-right: 1rem;
  padding-left: 1rem;
}

.navbar-light .navbar-toggler {
  color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.7);
  font-size: 2rem;
}

.img-fluid {
  width: 100px;
}

button:focus{
  /* outline: 1px dotted; */
  outline: none;
}

.navbar {
  padding: 1.5rem 5rem;
}

.modal-content {
  background: white;
  border: none;
  text-align:center;
}

.modal-dialog-custom {
  margin: 0;
}

.modal-logo {
  height: 20px;
  margin: 0 auto
}

.modal-header-custom {
  background-color: #000;
  height: 60px;
}

.modal-body ul li a {
  color: black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2)
}

.modal-body ul {
  padding: 0 40px
}

.close {
    opacity: 1;
}


button.close,
button.close:focus,
a{
  color: rgb(255, 255, 255);
  opacity: 1;

}

.navbar-light .navbar-nav .nav-link:hover,
button.close:hover,
a:hover{
  color: rgb(255, 255, 255);
  opacity: 0.7;
}

:focus {
  outline: none;
}

button.navbar-toggler:hover{
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.5);
}

.pers100 {
  perspective: 80px;
  perspective-origin: 50% -5%;
}

.card {
  line-height: 150px;
  display: block;
  position: absolute;
  width: 250px;
  height: 160px;
  top: 20%;
  left: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  background: #fff;
  cursor: pointer;
  opacity: 1;
  transition: all 1s;
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5));
  background-size: cover;
  background-position: center;
}

.card:not(:first-child) {
  opacity: 0.9;
}

.container-client-images {
  display: none;
}

.client-image {
  /* background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)); */
  height: 35vh;
  display: none;
  position: absolute;
  width: 100vw;
  left: 0;
}

.actived-client-image {
  display: block
}

.first-client-image {
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("../images/client-bg-1.jpg");
  background-size: cover;
  background-position: center;
}

.second-client-image {
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("../images/client-bg-2.jpg");
  background-size: cover;
  background-position: center;
}

.third-client-image {
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("../images/client-bg-3.jpg");
  background-size: cover;
  background-position: center;
}

.fourth-client-image {
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("../images/client-bg-4.jpg");
  background-size: cover;
  background-position: center;
}

.fifth-client-image {
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("../images/client-bg-5.jpg");
  background-size: cover;
  background-position: center;
}

.first {
  transform: translate3d(-50%, -50%, 40px);
  z-index: 4;
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("../images/client-bg-1.jpg");
  background-size: cover;
  background-position: center;
}

.second {
  transform: translate3d(-50%, -50%, 30px);
  z-index: 3;
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5));
}

.third {
  transform: translate3d(-50%, -50%, 20px);
  z-index: 2;
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5));
}

.forth {
  transform: translate3d(-50%, -50%, 10px);
  z-index: 1;
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5));
}

.card.hide {
  opacity: 0;
  visibility: hidden;
}

.last-card {
  transform: translate3d(-50%, -50%, 10px);
  z-index: 1;
}

.container-cards {
  height: 55vh;
  width: 50vw
}

.cards-control-next {
  position: absolute;
  right: 5px;
  z-index: 20;
  top: 20vh;
} 

  /*
CLIENT SECTION */

.clients {
  background-color: #fff;
}

.clients-footer div img {
  opacity: 0.4;
  height: 40px;
}

.clients-footer div {
  height: 50px
}

.first-img-clients {
  height: 25px !important;
}

.client-info {
  margin-bottom: 0px 
}

.clients-footer-selected {
  opacity: 1 !important;
}

.clients-title {
  margin-top: 6rem;
}

.photo-client img {
  height: 60px;
}

.clients h1{
  font-size: 7vh;
  text-align: end;
}

.header-client{
  flex:2;
}

.quote-icon:first-child {
  position: absolute;
}

.blue-stripe {
  position: absolute;
  width: 90px;
  height: 20px;
  background-color: rgb(0,117,190, 0.7);
  border-radius: 15px;
  z-index: -1;
}

.first-stripe {
  top: 0rem;
  left: -75px;
}

.second-stripe {
  top: 40%;
  left: -100px;
}

.third-stripe {
  bottom: 0;
  left: -75px;
}

.quote-icon {
  font-family: 'Poppins';
  font-size: 3rem;
  font-weight: 900
}

.container-relative {
  position: relative;
  display: inline;
}

.container-relative span {
  text-transform: uppercase;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  line-height: 2rem
}

.hr-testemony{
  width: 50%;
  margin-left:0;
  border-top: 3px solid rgba(0, 0, 0, 0.2);
}

.testemony-text{
  font-size: 14px
}

.quote-right {
  display:block;
  text-align: right;
  margin-top:-1em;
}

.text-client p {
  text-transform: uppercase;
  font-family: 'Poppins';
  font-weight: 400;
}

.brands {
  font-size: 0.8em;
}

.center-middle-flex {
  height: 100%;
}


/*
CONTACT SECTION
*/

.footer {
  text-align: center;
  color: white;
  background:black;
  flex: 1;
}

#title-contact {
  margin-top: 3rem;
}

.footer p {
  font-family: 'Fredoka One', cursive; /* Change font here if necessary */
  margin:0;
  font-size: 1.3vh;
}

.contact {
  background: #00c6ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contact h1 {
  color: white;
  word-wrap: break-word;
  margin: 40px 0px 30px 0;
  line-height: 90%;
}

.lets-talk {
  margin: 0 auto;
}

.form-container {
  flex: 7;
}

.form-group {
  margin-bottom: 30px;
}

.form-control {
  text-align: center;
  border-radius: 35px !important;
  /* margin: 0 auto; */
}

#work-intention {
  border: none;
  background-color: white;
}

.form-control::-webkit-input-placeholder {
  font-family: inherit;
  letter-spacing: 1px;
  opacity: 0.7;
}

.form-control:-ms-input-placeholder {
  font-family: inherit;
  letter-spacing: 1px;
  opacity: 0.7;
}

.form-control:-moz-placeholder {
  font-family: inherit;
  letter-spacing: 1px;
  opacity: 0.7;
}

.form-control::-moz-placeholder {
  font-family: inherit;
  letter-spacing: 1px;
  opacity: 0.7;
}

/* .center-middle-flex{
  height: 100%;
} */

.fa-upload {
  font-size: 1.5em;
}


#upload-contact {
  background:black;
  font-size: 2vh;
  border-radius: 50%;

}

#contact-email {
  font-size: 2vh;
}

/* Media Queries */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .contact-footer {
  background-color: #000;
  }

  .who-we-are {
    background-position: center;
  }
}

/*  Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  body {
    font-size: 14px;
  }

  .side-color {
    width: 100vw;
    position: absolute;
    top: 0;
    background: #1BD5EF;
    transition: background 0.5s;
    height: 60px
  }

  .slide {
    margin-top: 60px
  }

  .carousel-control-prev {
    margin-left: -15px;
  }

  .carousel-control-next {
    z-index: 100;
    margin-right: -15px;
  }

  .dev-text {
    text-transform: lowercase;
    margin-top: 20px;
  }

  .dev-title-upper {
    margin: 20px 0 0 0;
    font-size: 180%
  }

  .dev-title-lower {
    word-break: break-all;
    line-height: 80%;
    margin-bottom: 20px;
    font-size: 180%
  }

  .predevelopment-image {
    padding-right: 0px
  }

  .predevelopment-image img {
    height: 30px;
    margin-bottom: 5px;
  }

  .predevelopment-image p {
    font-size: 60%;
  }

  .who-we-are-text {
    text-transform: lowercase;
  }

  .who-we-are-container {
    margin-top: 0  }

  .who-we-are .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .who-we-are h1 {
    word-wrap: break-word;
    line-height: 90%;
  }

  .who-we-are-btn {
    margin-bottom: 10px
  }

  .who-we-are a {
    display: block;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 1px;
    border-bottom: 1px solid black;
    color: #000;
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .home-container {
    display: inline;
  }

  .home-container div:first-of-type {
    height: 50vh;
    display: flex;
    align-items: flex-end
  }

  .home-title:first-child {
    justify-content: center;
  }

  .home-title:last-child {
    justify-content: center;
  }

  .contact h1 {
    color: white;
    word-wrap: break-word;
    margin: 40px 0px 15px 0;
    line-height: 90%;
  }

  .cards-hidden-sm {
    display: none !important
  }

  .blue-stripe {
    display: none
  }

  .blockquote {
    margin-top: 35vh
  }

  .cards-control-next {
    position: absolute;
    right: 10px;
    z-index: 20;
    top: 60vh
  }

  .clients-title {
    margin-top: 4rem;
    margin-bottom: 0.5rem
  }

  .container-client-images {
    display: block;
  }

}

/*  Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 200%;
  }

  .navbar {
    padding: 1rem 1.5rem;
  }

  .predevelopment-image p {
    font-weight: 700;
  }

  .who-we-are {
    background-position:90% 40%;
  }

  .who-we-are-text {
    text-transform: lowercase
  }

  .who-we-are h1 {
    margin-bottom: 0px;
  }
  
  .who-we-are-btn {
    font-size: 12px;
  }

  .predevelopment-image p {
    font-size: 70%;
  }

  .protopipacao {
    word-wrap: break-word;
  }

  .pers100 {
    perspective: 120px;
    perspective-origin: 50% -15%;
  }

  .container-cards {
    height: 60vh;
  }

  .container-relative span {
    font-size: 12px
  }

  .text-client p {
    font-size: 12px
  }

  .blue-stripe {
    width: 80px;
    height: 20px;
  }

  .second-stripe {
    bottom: 0;
    left: -80px;
  }

  .first-stripe,
  .third-stripe {
    bottom: 0;
    left: -60px;
  }

}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .navbar-light .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .carousel-control-next {
    z-index: 1;
    margin-right: -5vw
  }

}
